user nobody

pidfile /run/sniproxy.pid

resolver {
        nameserver $nameserver
        mode $mode
}

access_log {
        filename /dev/stdout
        priority notice
}

error_log {
        filename /dev/stderr
}

listener 443 {
        protocol tls
}

table {
        .* *:443
}